<div class="container mb-3">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav float-start">
          <li class="nav-item">
            <a [routerLink]="['/dashboard']" class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/Clientes']" class="nav-link" href="#">Clientes</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/Materiales']" class="nav-link" href="#">Materiales</a>
          </li>
        </ul>
        <ul class="navbar-nav float-end">
          <li class="nav-item ">
            <a [routerLink]="['/encargo/new']" class="nav-link" href="#">Nuevo Encargo</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>
