<loading-spinner [loading]="!encargo"></loading-spinner>
<div *ngIf="encargo">
    <aside id="gear" class="  d-flex justify-content-end">
        <article class="dropdown dropstart">
            <button class="btn btn-outline-dark fw-bold dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <svg-gear></svg-gear>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button class="dropdown-item text-info" *ngIf="!isEditing" title="Haz Click para editar"
                        (click)="activarModoEdicion()">
                        Editar Encargo
                    </button>
                </li>
                <li>
                    <button class="dropdown-item text-success" *ngIf="isEditing" (click)="uploadEncargo()">
                        Guardar Encargo
                    </button>
                </li>
                <li>
                    <button class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Eliminar Encargo
                    </button>
                </li>
            </ul>
        </article>
    </aside>
    <header class="mb-3">

        <section class="row">
            <article class="my-2 col-12 col-md-6 col-xl-2">
                <img title="Haz Click para editar" (click)="activarModoEdicion()"
                    [src]="encargo.img ? encargo.img  :'assets/img/logo.svg'"
                    class="rounded img-fluid img-thumbnail cursor-pointer " style="max-height: 200px" alt="">
                <div *ngIf="isEditing" class="mt-2">
                    <label for="urlImg" class="form-label fw-bold">Url img</label>
                    <input [(ngModel)]="encargo.img" type="text" class="form-control" id="urlImg"
                        placeholder="Url Imagen" (keyup.enter)="uploadEncargo()">
                </div>
            </article>
            <!-- Nombre y observaciones -->
            <article class="my-2 col-12 col-md-6 col-xl-5">
                <div>
                    <h3 *ngIf="!isEditing" title="Haz Click para editar" (click)="activarModoEdicion()">
                        <span *ngIf="encargo.nombre.length>0">{{encargo.nombre}}</span>
                        <span *ngIf="encargo.nombre.length===0">Nombre Encargo?</span>
                    </h3>
                    <div *ngIf="isEditing">
                        <form [formGroup]="encargoForm" (ngSubmit)="uploadEncargo()">
                            <label for="precioHora" class="form-label fw-bold">Nombre Encargo</label>
                            <input formControlName="nombre" type="text" class="form-control"
                                placeholder="Nombre encargo" (keyup.enter)="uploadEncargo()">
                            <div
                                *ngIf="encargoForm.controls['nombre'].invalid && (encargoForm.controls['nombre'].dirty || encargoForm.controls['nombre'].touched)">
                                <small class="text-danger"
                                    *ngIf="encargoForm.controls['nombre'].errors && encargoForm.controls['nombre'].errors['required']">
                                    EL nombre es requerido
                                </small>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mt-2">
                    <p *ngIf="!isEditing" title="Haz Click para editar" (click)="activarModoEdicion()">
                        {{encargo.observaciones}}
                    </p>
                    <div class="form-floating" *ngIf="isEditing">
                        <textarea *ngIf="isEditing" class="form-control" name="" id="observaciones"
                            style="width: 100%; min-height: 150px;" placeholder="Fecha Fin, Pintar..."
                            [(ngModel)]="encargo.observaciones"></textarea>
                        <label for="observaciones">Observaciones</label>
                    </div>
                </div>
            </article>
            <!-- CLIENTE -->
            <article class="my-2 col-12 col-md-6 col-xl-5">
                <h3>
                    Cliente
                </h3>
                <h5 *ngIf="!isEditing" title="Haz Click para editar" (click)="activarModoEdicion()">
                    {{encargo.cliente.nombre}}
                </h5>
                <div *ngIf="isEditing" class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{encargo.cliente.nombre}}
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let cliente of clientes">
                            <span class="dropdown-item" (click)="encargo.cliente = cliente">{{cliente.nombre}}</span>
                        </li>
                    </ul>
                </div>
            </article>

        </section>

        <section class="row">
            <article class=" col-12 col-md-2">
                <label for="precioHora" class="form-label fw-bold">Precio Hora</label>
                <p *ngIf="!isEditing" title="Haz Click para editar" (click)="activarModoEdicion()">
                    {{encargo.precioHora}} €
                </p>
                <input type=" number" id="precioHora" [(ngModel)]="encargo.precioHora" class="form-control"
                    placeholder="0.3" aria-describedby="precioHora" *ngIf="isEditing" (keyup.enter)="uploadEncargo()">
                <small id="precioHora" class="text-muted">
                    (Precio hora incluyendo desgaste de maquina y electricidad)
                </small>
            </article>
            <article class=" col-12 col-md-2">
                <label for="iva" class="form-label fw-bold">IVA %</label>
                <p *ngIf="!isEditing" title="Haz Click para editar" (click)="activarModoEdicion()">
                    {{encargo.iva}} %
                </p>
                <input type="number" id="iva" [(ngModel)]="encargo.iva" class="form-control" placeholder="21 %"
                    aria-describedby="iva" *ngIf="isEditing" (keyup.enter)="uploadEncargo()">
                <small id="iva" class="text-muted">Dejar a 0 si no se quiere aplicar</small>
            </article>
            <article class=" col-12 col-md-2">
                <label for="dineroAdelantado" class="form-label fw-bold">Dinero Adelantado</label>
                <p *ngIf="!isEditing" title="Haz Click para editar" (click)="activarModoEdicion()">
                    {{encargo.dineroAdelantado}} €
                </p>
                <input type="number" id="dineroAdelantado" [(ngModel)]="encargo.dineroAdelantado" class="form-control"
                    placeholder="" aria-describedby="dineroAdelantado" *ngIf="isEditing"
                    (keyup.enter)="uploadEncargo()">
            </article>
            <article class=" col-12 col-md-2">
                <label for="estado" class="form-label fw-bold">Estado Encargo</label>
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{estadosEncargoEnum[encargo.estado]}}
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let estado of estadosEncargo" class="cursor-pointer">
                            <span class="dropdown-item"
                                (click)="uploadEstadoEncargo(estado.key)">{{estado.value}}</span>
                        </li>
                    </ul>
                </div>
            </article>
        </section>
        <article id="gear" *ngIf="isEditing" class="col-12 d-flex justify-content-end">
            <button class="btn btn-success" (click)="uploadEncargo()">
                Guardar Encargo
            </button>
        </article>
    </header>
    <main class="row">
        <div class="col-12 col-xl-8" *ngIf="encargo">
            <header class="row">
                <div class="col-12 col-sm-6">
                    <h3>Piezas</h3>
                </div>
                <div class="col-12 col-sm-6 d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-dark fw-bold btn-sm mx-2 text-nowrap"
                        data-bs-toggle="modal" (click)="openModalNuevaPieza(undefined)"
                        data-bs-target="#modalNuevaPieza">
                        Nueva Pieza
                    </button>
                    <button type="button" class="btn btn-outline-dark fw-bold btn-sm text-nowrap" data-bs-toggle="modal"
                        data-bs-target="#modalGastoAdicional">
                        Gasto Adicional
                    </button>
                </div>
            </header>
            <article style="overflow-x:auto;">
                <table class="table table-striped">
                    <caption></caption>
                    <thead>
                        <tr>
                            <th class="text-nowrap" scope="col">Nombre</th>
                            <th class="text-nowrap" scope="col">Material</th>
                            <th class="text-nowrap" scope="col">Estado</th>
                            <th class="text-nowrap" scope="col">Horas</th>
                            <th class="text-nowrap" scope="col">Gramos</th>
                            <th class="text-nowrap" scope="col">Precio Horas</th>
                            <th class="text-nowrap" scope="col">Precio Material</th>
                            <th class="text-nowrap" scope="col">Precio Pieza</th>
                            <th class="text-nowrap" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pieza of encargo.piezas; let i=index">
                            <td>{{pieza.nombre}}</td>
                            <td>{{pieza.material.nombre}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn text-dark dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        {{estadosPiezaEnum[pieza.estado]}}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li *ngFor="let estado of estadosPieza">
                                            <span class="dropdown-item"
                                                (click)="cambiarEstadoPieza(pieza, estado.key)">{{estado.value}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                            <td>{{pieza.horas}} h</td>
                            <td>{{pieza.gramos}} gr</td>
                            <td>{{pieza.horas * encargo.precioHora | number :"0.0-2"}} €</td>
                            <td>{{(pieza.material.precioKg / 1000) * pieza.gramos | number :"0.0-2"}} €</td>
                            <td>{{calculoPrecioPieza(pieza) | number: "0.0-2"}}€</td>
                            <td>
                                <div class="d-flex">
                                    <div class="mx-1">
                                        <div class="d-flex align-items-center cursor-pointer"
                                            (click)="openModalNuevaPieza(i)" data-bs-toggle="modal"
                                            data-bs-target="#modalNuevaPieza">
                                            <svg-edit></svg-edit>
                                        </div>
                                    </div>
                                    <div class="mx-1">
                                        <div class="d-flex align-items-center cursor-pointer"
                                            (click)="deletePiezaFromEncargo(i)">
                                            <svg-trash></svg-trash>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Total</th>
                            <td></td>
                            <td></td>
                            <td>{{totalHoras() | number :"0.0-2"}} h</td>
                            <td>{{totalGramos() | number :"0.0-2"}} gr</td>
                            <td>{{totalPrecioHoras() | number :"0.0-2"}} €</td>
                            <td>{{totalPrecioPieza() | number :"0.0-2"}} €</td>
                            <td>{{totalPrecio() | number :"0.0-2"}} €</td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </article>
        </div>
        <div class="col-12 col-xl-4" *ngIf="encargo">
            <h3>Desglose</h3>
            <table class="table">
                <caption></caption>
                <tbody>
                    <tr *ngFor="let gasto of encargo.gastosAdicionales; let i=index">
                        <td>
                            {{gasto.nombre}}
                        </td>
                        <td class="d-flex justify-content-end">
                            <span class="m-2">{{gasto.precio}} €</span>
                            <span class="d-flex align-items-center cursor-pointer" (click)="eliminarGasto(i)">
                                <svg-trash></svg-trash>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Piezas impresas</td>
                        <td class="d-flex justify-content-end">
                            <span>
                                {{totalPrecio()| number :"0.0-2"}} €
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="encargo.iva!==0">
                        <th scope="col">TOTAL SIN IVA</th>
                        <th class="d-flex justify-content-end" scope="col">
                            {{totalEncargo()| number :"0.0-2" }} €
                        </th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr *ngIf="encargo.iva===0">
                        <th scope="col">TOTAL ENCARGO</th>
                        <th class="d-flex justify-content-end" scope="col">
                            {{totalEncargo()| number :"0.0-2" }} €
                        </th>
                    </tr>
                    <tr *ngIf="encargo.iva===0 && encargo.dineroAdelantado!==0">
                        <th scope="col">TOTAL RESTANTE</th>
                        <th class="d-flex justify-content-end" scope="col">
                            {{totalEncargo() - encargo.dineroAdelantado| number :"0.0-2" }} €
                        </th>
                    </tr>
                    <tr *ngIf="encargo.iva!==0">
                        <th scope="col">IVA {{encargo.iva}}%</th>
                        <th class="d-flex justify-content-end" scope="col">
                            {{totalEncargo() * encargo.iva/100| number :"0.0-2" }} €
                        </th>
                    </tr>
                    <tr *ngIf="encargo.iva!==0">
                        <th scope="col">TOTAL ENCARGO</th>
                        <th class="d-flex justify-content-end" scope="col">
                            {{totalEncargo() + totalEncargo() * encargo.iva/100| number :"0.0-2" }} €
                        </th>
                    </tr>
                    <tr *ngIf="encargo.iva!==0 && encargo.dineroAdelantado!==0">
                        <th scope="col">DINERO RESTANTE </th>
                        <th class="d-flex justify-content-end" scope="col">
                            {{totalEncargo() + totalEncargo() * encargo.iva/100 - encargo.dineroAdelantado | number
                            :"0.0-2" }} €
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" *ngIf="encargo">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Se va a Eliminar
                    <strong>{{encargo.nombre}}</strong>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> ¿Estas seguro de eliminar el encargo <strong>{{encargo.nombre}}</strong>? </p>
                <p>Esta accion no se puede deshacer</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="deleteEncargo()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<app-nueva-pieza [(encargo)]="encargo" [materiales]="materiales" [piezasNuevas]="piezasNuevas" [indiceEdit]="indiceEdit"
    [materialDefault]="materialDefault" (uploadEncargo)="uploadEncargo()"></app-nueva-pieza>

<app-gasto-adicional (uploadEncargo)="uploadEncargo()" [(encargo)]="encargo"></app-gasto-adicional>
