<loading-spinner [loading]="loading"></loading-spinner>

<div *ngIf="!loading">
    <div class="row">
        <div class="col-6">
            <h3>Clientes</h3>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-dark fw-bold btn-sm text-nowrap" data-bs-toggle="modal"
                (click)="openModalNuevoCliente(undefined)" data-bs-target="#modalNuevoCliente">
                Nuevo Cliente
            </button>
        </div>
    </div>
    <section>
        <table class="table table-striped">
            <caption></caption>
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Encargos Activos / Terminados</th>
                    <th scope="col">Dinero Total</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes; let i=index">
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.encargosActivos}}/{{cliente.encargosFinalizados}}</td>
                    <td>{{cliente.dineroTotal | number: "0.0-2"}}€ </td>
                    <td>
                        <div class="d-flex">
                            <div class="mx-1">
                                <div class="d-flex align-items-center cursor-pointer" (click)="nuevoEncargo(cliente)">
                                    Nuevo Encargo
                                </div>
                            </div>
                            <div class="mx-1">
                                <div class="d-flex align-items-center cursor-pointer" (click)="openModalNuevoCliente(i)"
                                    data-bs-toggle="modal" data-bs-target="#modalNuevoCliente">
                                    <svg-edit></svg-edit>
                                </div>
                            </div>
                            <div class="mx-1">
                                <div class="d-flex align-items-center cursor-pointer" (click)="deleteCliente(cliente)">
                                    <svg-trash></svg-trash>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>

<app-nuevo-cliente #nuevoCliente [clienteNuevo]="clienteNuevo" [indiceEdit]="indiceEdit"
    (onGuardar)="getMappedClients()"></app-nuevo-cliente>