<div class="modal fade" id="modalGastoAdicional" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalGastoAdicionalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalGastoAdicionalLabel">Nueva Gasto</h1>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12 col-md-6">
                        <label for="nombrePieza" class="form-label">Nombre</label>
                        <input [(ngModel)]="gastoAdicional.nombre" type="text" class="form-control" id="nombrePieza"
                            placeholder="Nombre Gasto">
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="precio" class="form-label">Precio</label>
                        <input [(ngModel)]="gastoAdicional.precio" type="number" class="form-control" id="precio"
                            placeholder="€">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cacelar
                </button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="addGasto()">
                    Añadir
                </button>

            </div>
        </div>
    </div>
</div>