footer {
    background-color: black;
    color: #a8a8a8;
    width: 100%;
    font-size: 14px;
    margin-top: 30px;
    padding: 20px;
}

.logo {
    max-width: 250px;
    max-height: 150px;
}

a:link,
a:visited,
a:active {
    color: #d0d0d0;
    text-decoration: none;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

@media screen and (min-height: 1100px) {
    footer {
        position: fixed;
        bottom: 0;
    }
}
