<footer id="footerCalculadora">
    <div class="footerContainer">
        <div class="my-3 row">
            <div class="col-12">
                <img [src]="'assets/img/logo-white.svg'" height="55" alt="3D Dashboard Tool Logo" class="logo rounded"
                    loading="lazy" />
            </div>
            <div class="col p-2 row">
                <div class="col-12">
                    <h5>Enlaces de Interés</h5>
                </div>
                <div class="col-12">
                    <a class="mx-2" href="https://paypal.me/sergiomoralessanchez"  target="_blank">
                        <img [src]="'assets/img/paypal.svg'" height="25" alt="Logo Github" class="logo rounded"
                            loading="lazy" />
                    </a>
                    <a class="mx-2" href="mailto:srms98@gmail.com">
                        <img [src]="'assets/img/mail.png'" height="25" alt="Logo Github" class="logo rounded"
                            loading="lazy" />
                    </a>
                    <a class="mx-2" href="https://www.linkedin.com/in/sergio-rafael-morales-s%C3%A1nchez/"
                        target="_blank">
                        <img [src]="'assets/img/linkedin.svg'" height="25" alt="Logo Github" class="logo rounded"
                            loading="lazy" />
                    </a>
                    <a class="mx-2" href="https://github.com/NandaKoreWa" target="_blank">
                        <img [src]="'assets/img/github.svg'" height="25" alt="Logo Github" class="logo rounded"
                            loading="lazy" />
                    </a>
                </div>
            </div>
            <div class="my-3">
                <h6>3D DASHBOARD TOOL 2023</h6>
            </div>
        </div>
    </div>
</footer>