<!-- <pre>
    {{encargo|json}}
</pre> -->
<div *ngIf="encargo" class="card" style="width: 18rem; min-height: 360px;">
    <img [src]="encargo.img" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">{{encargo.nombre}}</h5>
        <div class="row">
            <div class="col-6">
                <span class="card-text">
                    Piezas
                </span>
            </div>
            <div class="col-6">
                <span class="card-text"> 
                    {{encargo.piezas.length}}/{{encargo.piezas.length}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span class="card-text">
                    Horas
                </span>
            </div>
            <div class="col-6">
                <span class="card-text">
                    {{getTotalHorasTeminados()}}/{{getTotalHoras()| number :"0.0-2"}} h
                </span>
            </div>
        </div>
    </div>
    <div class="card-footer">
        {{encargo.precioTotal | number :"0.0-2"}} €
    </div>
</div>