<!-- {{this.piezasNuevas|json}}
{{this.indiceEdit|json}} -->
<div class="" id="nuevaPieza">
    <div class="card card-body">
        <div class="row">
            <div class="col-12 my-2">
                <div class="d-flex">
                    <div class="">
                        <label for="formFileMultiple" class="form-label">Puedes seleccionar varios Ficheros a la
                            vez</label>
                        <input accept=".gcode" (change)="file_changed($event)" class="form-control" type="file"
                            id="formFileMultiple" multiple>
                        <button class="btn btn-primary" (click)="addPiezaNueva()"> + </button>
                    </div>

                </div>
                <div class="d-flex" *ngFor="let pieza of piezasNuevas; let i=index">

                    <div class=" mx-3">
                        <label for="nombrePieza" class="form-label">Nombre</label>
                        <input [(ngModel)]="pieza.nombre" type="text" class="form-control" id="nombrePieza"
                            placeholder="Nombre Pieza">
                    </div>
                    <div class="mx-3">
                        <label for="horas" class="form-label">Horas</label>
                        <input [(ngModel)]="pieza.horas" type="number" class="form-control" id="horas" placeholder="h">
                    </div>
                    <div class="mx-3">
                        <label for="gramos" class="form-label">Gramos</label>
                        <input [(ngModel)]="pieza.gramos" type="number" class="form-control" id="gramos"
                            placeholder="gr">
                    </div>
                    <div class="mx-3">
                        <label for="gramos" class="form-label">Cantidad</label>
                        <input [(ngModel)]="pieza.cantidad" type="number" class="form-control" id="1" placeholder="1">
                    </div>
                    <div class="mx-3" *ngIf="materiales && pieza.material">
                        <label for="gramos" class="form-label">Material</label>

                        <select class="form-control" name="materialId"
                            (change)="cambioMaterialPieza(pieza,matSelect.value)" #matSelect>
                            <option *ngFor="let material of materiales" [value]="material.id">
                                {{material.nombre}} - {{material.precioKg}} €
                            </option>
                        </select>
                    </div>
                    <div class=" mx-3 d-flex align-items-end">
                        <button class="btn btn-danger" (click)="deletePieza(i)">
                            <svg-trash></svg-trash>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <button type="button" [disabled]="!piezasNuevas.length" (click)="addPiezas()" class="btn btn-success">
                    <span *ngIf="indiceEdit ===undefined">Añadir</span>
                    <span *ngIf="indiceEdit !==undefined">Guardar</span>
                </button>
            </div>
        </div>

    </div>
</div>