<div class="modal modal-xl fade" id="modalNuevaPieza" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalNuevaPiezaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalNuevaPiezaLabel">Nueva Pieza</h1>
            </div>
            <div class="modal-body">
                <div class="" id="nuevaPieza">
                    <div class="row">
                        <div class="col-12 my-2">
                            <div class="d-flex">
                                <div class="">
                                    <label for="formFileMultiple" class="form-label">Puedes seleccionar varios
                                        Ficheros a la
                                        vez</label>
                                    <input accept=".gcode" (change)="file_changed($event)" class="form-control"
                                        type="file" id="formFileMultiple" multiple>
                                </div>

                            </div>
                            <div class="row" *ngFor="let pieza of piezasNuevas; let i=index">

                                <div class="col-12 col-xl-2">
                                    <label for="nombrePieza" class="form-label">Nombre</label>
                                    <input [(ngModel)]="pieza.nombre" type="text" class="form-control" id="nombrePieza"
                                        placeholder="Nombre Pieza">
                                </div>
                                <div class="col-12 col-xl-2">
                                    <label for="horas" class="form-label">Horas</label>
                                    <input [(ngModel)]="pieza.horas" type="number" class="form-control" id="horas"
                                        placeholder="h">
                                </div>
                                <div class="col-12 col-xl-2">
                                    <label for="gramos" class="form-label">Gramos</label>
                                    <input [(ngModel)]="pieza.gramos" type="number" class="form-control" id="gramos"
                                        placeholder="gr">
                                </div>
                                <div class="col-12 col-xl-2">
                                    <label for="gramos" class="form-label">Cantidad</label>
                                    <input [(ngModel)]="pieza.cantidad" type="number" class="form-control" id="1"
                                        placeholder="1">
                                </div>
                                <div class="col-12 col-xl-2">
                                    <label for="gramos" class="form-label">Material</label>
                                    <select class="form-control" name="materialId"
                                        (change)="cambioMaterialPieza(pieza,matSelect.value)" #matSelect>
                                        <option *ngFor="let material of materiales" [value]="material.id">
                                            {{material.nombre}} - {{material.precioKg}} €
                                        </option>
                                    </select>
                                </div>
                                <div class="col-12 col-xl-2 d-flex align-items-end">
                                    <button class=" mx-3 btn btn-primary" *ngIf="indiceEdit ===undefined"
                                        (click)="addPiezaNueva()"> + </button>
                                    <button class=" mx-3 btn btn-danger" [disabled]="piezasNuevas.length<2"
                                        (click)="deletePieza(i)">
                                        <svg-trash></svg-trash>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cacelar</button>
                <button type="button" [disabled]="!piezasNuevas.length" (click)="addPiezas()" class="btn btn-success"
                    data-bs-dismiss="modal">
                    <span *ngIf="indiceEdit ===undefined">Añadir</span>
                    <span *ngIf="indiceEdit !==undefined">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</div>