<div id="gear" class="d-flex justify-content-end p-4">
    <div class="dropdown">
        <button class="btn btn-primary " (click)="isNuevoMaterial = !isNuevoMaterial"> + </button>
    </div>
</div>

<app-nuevo-material *ngIf="isNuevoMaterial" (onGuardar)="getMateriales()"></app-nuevo-material>
<loading-spinner [loading]="loading"></loading-spinner>
<div class="container-fluid" *ngIf="!loading">
    <div class="row">
        <div class="col-12 col-lg-8">
            <h3>Piezas</h3>
            <table class="table table-striped">
                <caption></caption>
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio Kg</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let material of materiales; let i=index">
                        <td>{{material.nombre}}</td>
                        <td>{{material.precioKg}} €/kg</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Pieza</h1>
            </div>

        </div>
    </div>
</div>